@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: repeating-linear-gradient(45deg, lightblue, lightblue 2px, white 2px, white 10px);
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 260px;
  height: 260px;
  transform: translate(-50%, -50%);
  background: lightblue;
  box-shadow: 6px 6px 20px #aaa;
}

.polygon {
  position: absolute;
  width: 160px;
  height: 140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.polygon .light {
  fill: #eee;
  transition: all 0.5s ease-in-out;
}
.polygon .middle {
  fill: #ccc;
  transition: all 0.5s ease-in-out;
}
.polygon .dark {
  fill: #aaa;
  transition: all 0.5s ease-in-out;
}

.polygon:hover .light {
  fill: #aaa;
}
.polygon:hover .middle {
  fill: #ccc;
}
.polygon:hover .dark {
  fill: #eee;
}