.frame {
  width: 400px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top {
  width: 100%;
  height: 200px;
  background-color: #444;
}

.bottom {
  width: 100%;
  height: 200px;
  background-color: #fca4e9;
}

.ellipse {
  position: absolute;
  top: 0px;
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
  animation: expand 3s linear infinite;
}

.pink {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
  background-color: #fca4e9;
  transform: rotateX(0);
}

.grey {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
  background-color: #444;
  transform: rotateX(180deg);
}

@keyframes expand {
  0% {
    transform: rotateX(0deg);
  }
  7% {
    transform: rotateX(130deg);
  }
  14% {
    transform: rotateX(60deg);
  }
  21% {
    transform: rotateX(110deg);
  }
  28% {
    transform: rotateX(80deg);
  }
  35% {
    transform: rotateX(95deg);
  }
  42% {
    transform: rotateX(90deg);
  }
  49% {
    transform: rotateX(180deg);
  }
  56% {
    transform: rotateX(50deg);
  }
  63% {
    transform: rotateX(120deg);
  }
  70% {
    transform: rotateX(70deg);
  }
  77% {
    transform: rotateX(100deg);
  }
  84% {
    transform: rotateX(85deg);
  }
  91% {
    transform: rotateX(90deg);
  }
}